* text=auto

*.asm linguist-detectable=false
*.s linguist-detectable=false
*.pwn linguist-detectable=false
*.p linguist-detectable=false
*.inc linguist-detectable=false
*.p linguist-detectable=false
*.pas linguist-detectable=false
*.java linguist-detectable=false
*.aidl linguist-detectable=false
*.m linguist-detectable=false
*.h linguist-detectable=false
*.mm linguist-detectable=false
*.c linguist-detectable=false

*.cs linguist-detectable=true
